@import url('https://fonts.googleapis.com/css?family=Pacifico|Rock+Salt');

html, body, section {
    width: 100%;
    height: 100%;
}

body {
    color: #fff;
    text-align: center;
}

.xop-container {
    
}

.article {
    height: 50%;
    width: 100%;
}

div {
    justify-content: center;
    height: 50%;
    width: 100%;
}

.xop-left {
    background: linear-gradient(rgba(0,0,0,0.85), rgba(255,255,255,0.10)), 
        url(../../images/zagreb.jpg);
}

.xop-right {
    background: linear-gradient(rgba(0,0,0,0.85), rgba(164,222,102, 0.10)),
        url(../../images/rovinj.jpg);
}


.xop-left h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 6rem;
}

.xop-right h1 {
    font-family: 'Pacifico', cursive;
    font-size: 6rem;
}
