
#logo {
    width: 100%;
    height: 40%;
    margin-bottom: 3%;
}

#logo_boja{
    width: 100%;
    height: 50%;
    background-color: #FEED67;
    margin: 0 0 0 0;
}

#logo_donji {
    position: relative;
    height: 20%;
}

#logo_slika {
    width: 14%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    border: 7px solid #FEED67;
}

#description {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    line-height: 1.5;
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 1.8rem;
}

.optionsbootstrapcont{
    width: 100%;
    height: 10%;
   padding: 0 0 0 0;
   margin: 0 0 0 0;
}

#optionsbootstrap {
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}


#options {
    width: 100%;
    height: 30%;
    margin: 0 0 0 0;
    display: flex;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 3%;
}

.article {
 
}

#right{
    padding-top: 3%;
}

#left_option {
    background-color: #FEED67;
    flex: 1;
    line-height: 0.2;
    font-family: 'Baloo Chettan 2', cursive;
    padding-left: 2%;
    font-size: 1.8rem;
}



#right_option {
    
    background-color: #ffffe0;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    line-height: 0.2;
    text-align: right;
    font-family: 'Baloo Chettan 2', cursive;
    padding-right: 2%;
    font-size: 2.2vw;
}


#lijevinovi {
    background-color: #FEED67;
    line-height: 0.2;
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 1.5rem;
    padding-top: 2%;
}

#desninovi {
    background-color: #ffffe0;
    line-height: 0.2;
    text-align: right;
    font-family: 'Baloo Chettan 2', cursive;
    padding-right: 2%;
    font-size: 1.5rem;
    padding-top: 5%;
}

.container{
    margin-bottom: 2%;
}

#option1 {
    height: 800px;
    text-align: center;
}

#opt1search{
    padding-top: 10%;
    text-align: center;
}

#datepicker {
    width: 30%;
    border: none;
    border-bottom: 1px solid #083d77;
    text-align: center;
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 1.2rem;
}

#opt1results {
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

.result {
    height: 500px;
}

.resultinner {
    border: 3px solid #FEED67;
    border-radius: 10px;
    box-shadow: 10px 10px #F46710;
}

.destinationname {
    width: 100%;
    height: 10%;
    background-color: #FEED67;
    text-align: center;
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 1.2rem;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    color: #F46710;
    display: flex;
    align-items: center;
    justify-content: center;
}

.destinationimage{
    width: 100%;
}

.imgresult {
    max-width: 100%;
    max-height: 100%;
    display: block;
}


.otheroption {
    padding-top: 3%;
    padding-bottom: 3%;
}

.chooseagain {
    padding-top: 3%;
    padding-bottom: 3%;
    float: right;
}

.pdf {
    padding-top: 3%;
    padding-bottom: 3%;
}



.submit {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

    .submit:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #083d77;
        border-radius: 10rem;
        z-index: -2;
    }

    .submit:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #042447;
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
    }

    .submit:hover {
        color: antiquewhite;
    }

        .submit:hover:before {
            width: 100%;
        }





.button {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: orange;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

    .button:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #083d77;
        border-radius: 10rem;
        z-index: -2;
    }

    .button:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #042447;
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
    }

    .button:hover {
        color: ghostwhite;
    }

        .button:hover:before {
            width: 100%;
        }



#opt1export {
    /*padding-top: 10%;*/
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding-bottom: 10%;
    color: #ffffe0;
}

#opt2export {
    padding-top: 10%;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding-bottom: 10%;
    color: #ffffe0;
}

.dropdownDest {
    text-align: center;

}

.dropdownSeason{
    text-align: center;
}


#month1 {
    background-color: #FEED67;
    padding: 2px 2px 2px 2px;
    font-family: 'Baloo Chettan 2', cursive;
}

#month2 {
    background-color: #ffffe0;
    padding: 2px 2px 2px 2px;
    font-family: 'Baloo Chettan 2', cursive;
}

#month3 {
    background-color: #FEED67;
    padding: 2px 2px 2px 2px;
    font-family: 'Baloo Chettan 2', cursive;
}



.grow:hover {
    box-shadow: inset 0 0 0 10px #F46710;
}

/* Default custom select styles */
.text__center {
    text-align: center;
}

div.cs-select {
    position: relative;
    z-index: 100;
    display: inline-block;
    width: 100%;
    max-width: 500px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    vertical-align: middle;
    background: RED;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
}

    div.cs-select:focus {
        outline: none;
        /* For better accessibility add a style for this in your skin */
    }

.cs-select select {
    display: none;
}

.cs-select span {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 1px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* Placeholder and selected option */

.cs-select > span {
    padding-right: 3em;
}

    .cs-select > span::after,
    .cs-select .cs-selected span::after {
        position: absolute;
        top: 50%; /*pozicija strelice*/
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        speak: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .cs-select > span::after {
        right: 1em;
        content: '\25BE';
    }

.cs-select .cs-selected span::after {
    margin-left: 1em;
    content: '\2713';
}

.cs-select.cs-active > span::after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}

div.cs-active {
    z-index: 200;
}
/* Options */

.cs-select .cs-options {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    background: green; /*nezz*/
}

.cs-select.cs-active .cs-options {
    visibility: visible;
}

.cs-select ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .cs-select ul span {
        padding: 2px;
    }

    .cs-select ul li.cs-focus span {
        background-color: purple; /*nezz*/
    }
/* Optgroup and optgroup label */

.cs-select li.cs-optgroup ul {
    padding-left: 1em;
}

.cs-select li.cs-optgroup > span {
    cursor: default;
}

div.cs-skin-elastic {
    font-size: 1.5em;
    font-weight: 700;
    color: #042447; /*boja teksta*/
    background: transparent;
}

@media screen and (max-width: 30em) {
    div.cs-skin-elastic {
        font-size: 1em;
    }
}

.cs-skin-elastic > span {
    z-index: 100;
    background-color: white; /*boja glavnog*/
}

.cs-skin-elastic .cs-options {
    visibility: visible;
    overflow: visible;
    padding-bottom: 1.25em;
    pointer-events: none;
    opacity: 1;
    background: transparent;
}

.cs-skin-elastic.cs-active .cs-options {
    pointer-events: auto;
}

.cs-skin-elastic .cs-options > ul::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    background: white; /*boja opcija*/
}

.cs-skin-elastic.cs-active .cs-options > ul::before {
    -webkit-transition: none;
    transition: none;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-animation: expand .6s ease-out;
    animation: expand .6s ease-out;
}

.cs-skin-elastic .cs-options ul li {
    -webkit-transition: opacity .15s, -webkit-transform .15s;
    transition: opacity .15s, transform .15s;
    -webkit-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
    opacity: 0;
}

.cs-skin-elastic.cs-active .cs-options ul li {
    -webkit-transition: none;
    transition: none;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-animation: bounce .6s ease-out;
    animation: bounce .6s ease-out;
    opacity: 1;
}

.cs-skin-elastic .cs-options span {
    background-repeat: no-repeat;
    background-position: 1.5em 50%;
    background-size: 2em auto;
}

    .cs-skin-elastic .cs-options span:hover,
    .cs-skin-elastic .cs-options li.cs-focus span,
    .cs-skin-elastic .cs-options .cs-selected span {
        color: #87a7c9; /*boja opcije na hoveru*/
    }

        .cs-skin-elastic .cs-options .cs-selected span::after {
            content: '';
        }

@-webkit-keyframes expand {
    0% {
        -webkit-transform: scale3d(1, 0, 1);
    }

    25% {
        -webkit-transform: scale3d(1, 1.2, 1);
    }

    50% {
        -webkit-transform: scale3d(1, .85, 1);
    }

    75% {
        -webkit-transform: scale3d(1, 1.05, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
    }
}

@keyframes expand {
    0% {
        -webkit-transform: scale3d(1, 0, 1);
        transform: scale3d(1, 0, 1);
    }

    25% {
        -webkit-transform: scale3d(1, 1.2, 1);
        transform: scale3d(1, 1.2, 1);
    }

    50% {
        -webkit-transform: scale3d(1, .85, 1);
        transform: scale3d(1, .85, 1);
    }

    75% {
        -webkit-transform: scale3d(1, 1.05, 1);
        transform: scale3d(1, 1.05, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translate3d(0, -25px, 0);
        opacity: 0;
    }

    25% {
        -webkit-transform: translate3d(0, 10px, 0);
    }

    50% {
        -webkit-transform: translate3d(0, -6px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 2px, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translate3d(0, -25px, 0);
        transform: translate3d(0, -25px, 0);
        opacity: 0;
    }

    25% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    50% {
        -webkit-transform: translate3d(0, -6px, 0);
        transform: translate3d(0, -6px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 2px, 0);
        transform: translate3d(0, 2px, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}