
#logo {
    width: 100%;
    height: 40%;
    margin-bottom: 3%;
}

#logo_boja{
    width: 100%;
    height: 50%;
    background-color: #FEED67;
    margin: 0 0 0 0;
}

#logo_donji {
    position: relative;
    height: 20%;
}

#logo_slika {
    width: 14%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    border: 7px solid #FEED67;
}

#description {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    line-height: 1.5;
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 1.8rem;
}


#options {
    width: 100%;
    height: 30%;
    margin: 0 0 0 0;
    background-color: blue;
    display: flex;
}

.article {
 
}

#left_option {
    background-color: #FEED67;
    flex: 1;
    line-height: 0.2;
    font-family: 'Baloo Chettan 2', cursive;
    padding-left: 2%;
    font-size: 1.2rem;
}

#right_option {
    padding-right: 2%;
    background-color: #ffffe0;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    line-height: 0.2;
    text-align: right;
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 1.2rem;
}


#option1{
    height: 800px;
}

.is-start-date{
    background-color: red;
}