<head>
    <link rel="stylesheet" type="text/css" href="/static/scripts/css/probaindex.css" />
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap" rel="stylesheet">
</head>

<body>

    <div id="logo">
        <div id="logo_boja">
        </div>
        <div id="logo_donji">
            <img id="logo_slika" src="../static/images/gleen221.jpeg" />
        </div>
    </div>

    <div id="description">
        <p>Hi, welcome to <span style="color:#F46710">Gleen!</span></p>
        <p>Gleen is an app created to help you choose the right time of the year to <span style="color:#F46710">
        visit Croatia</span> using artificial intelligence to predict the weather.
        Whether you want to visit some of the most beautiful beaches in the world or want be a part of a winter fairy tale in Zagreb,
        Gleen will give you an <span style="color:#F46710">overview of expected daily temperatures</span> so you can organize and pack for your holiday accordingly.
        </p>
        <p>To get started, please <span style="color:#F46710">choose one of the two options</span> listed below:</p>
    </div>

    <div id="options">
        <div id="left_option">
            <article>
                <h1>You know the</h1>
                <h1>date but want to </h1>
                <h1>choose the right destination...</h1>
            </article>
        </div>
        <div id="right_option">
            <article id="left">
                <h1>... or you know</h1>
                <h1>where you want to go</h1>
                <h1>but you are not sure when.</h1>
            </article>
        </div>
    </div>


</body>